# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# runtime data (sqlite db, secrets)
/data/

# misc
.DS_Store
*.pem
npm-debug.log*
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
